
*.xcuserstate
11047 - C++/11047 - C++.xcodeproj/project.pbxproj
11047 - C++/11047 - C++.xcodeproj/project.xcworkspace/contents.xcworkspacedata
11047 - C++/11047 - C++.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
11047 - C++/11047 - C++.xcodeproj/xcuserdata/user.xcuserdatad/xcschemes/xcschememanagement.plist
